html {
    background-color: #f5f5f5;
}

.container {
    margin-top: 300px;
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.form{
    justify-content: center;
    padding-bottom: 20px;
}

.btn {
    background-color: white;
}

#equal {
    grid-area: 3/ 4/ 5/ 4;
}

#point {
    grid-area: 5/ 3/ 6/ 3;
}

#zero {
    grid-area: 5/ 2/ 6/ 2;
}

#square {
    grid-area: 5/ 1/ 6/ 1;
}

#root {
    grid-area: 5/ 4/ 6/ 4;
}
