
.sweets-section {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;}

.sweets-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    width: 81%;
    padding-left: 100px;
    flex-direction: column;
}

.sweets {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 35%;
}

.sweets-background {
    background-image: url("../img-menu/menu-sweets-bg.webp");
    background-repeat: no-repeat;
    background-position: 100% 9%;
    background-size: 65%;
}

.sweets-h3 {
    padding: 0 100px 50px 100px;
    position: relative;
}

.sweets-h3::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 82%;
    background-color: #000;
    top: 70%;
    right: 0;
    left: 9%;
}

.sweets-img {
    display: none;
    justify-content: right;
    position: absolute;
    left: 48%;
    height: 100%;
}

.sweets {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 35%;
}

.coffee-tea-section {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}

.coffee-tea-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    width: 81%;
    padding-left: 100px;
    flex-direction: column;
}

.coffee-tea-h3 {
    padding: 50px 100px;
    margin-top: 50px;
    position: relative;
}

.coffee-tea-h3::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 82%;
    background-color: #000;
    top: 70%;
    right: 0;
    left: 9%;
}

.coffee-tea-img {
    height: 60vh;
    position: relative;
    top: 25%;
}

.coffee-tea {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 35%;
}

.titel-bewertung {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
}

.breakfast-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 0 100px;
}

.omelette-bewertung {
    position: absolute;
    right: 49%;
}

.breakfast-item-5 {
    grid-column: span 2;

}

.cutted-bread-background {
    background-image: url("../img-menu/menu-breakfast-bg.webp");
    background-position: 100% 26%;
    background-size: 25%;
    background-repeat: no-repeat;
    position: relative;
}

.breakfast-h3 {
    padding: 50px 100px;
}

.sandwiches-section {
    display: flex;
}

.sandwiches-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    width: 81%;
    padding-left: 100px;
    flex-direction: column;
}

.sandwiches {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 35%;
}

.sandwiches-h3 {
    padding: 50px 100px;
    margin-top: 100px;
    position: relative;
}

.sandwiches-h3::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 82%;
    background-color: #000;
    top: 70%;
    right: 0;
    left: 9%;
}

.explore-taste-menu {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.cookies {

}

.cookies-img {

}

.explore-taste-text-menu {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 4vh;!important
}

.visit-us-menu {
    position: absolute;
    bottom: -10%;
    font-size: 160px;
    width: 100%;
    left: 30%;
    padding-bottom: 10px;
}

